.container{
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container ul li{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;

}

.container ul li:hover{
    border-bottom: 1px solid black;
}

.link{
    text-decoration: none;
    color: #000;
}

